<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <title>Nix 2.0</title>

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}navbar-fixed-top.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{STATIC_URL}}js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Nix 2.0</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Tavle</a></li>
            <li><a href="https://fuglane.it.ntnu.no">Fuglane</a></li>
            <li><a href="/printers/printmon">Printmon</a></li>
            <li><a href="/printers/printskjerm">Printskjerm (gata)</a></li>
            <li><a href="/bujumbura">Bujumbura</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin/">Admin</a></li>
            <li><a href="https://www.github.com/OrakeltjenestenDragvoll">GitHub</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


      <div class="jumbotron">
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      {% if messages %}
        {% for message in messages %}
          <div class="row">
            <div id="message-list" class="col-md-9">     
              <div class="flash fade in alert alert-dismissible alert-{{ message.tags }}"> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p>{{ message }}</p>
              </div>                       
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %} {%endblock %}
      </div>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://folk.ntnu.no/grasdalk/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/custom.js"></script>
  </body>
</html>