{% block content %}
{% if printer_list %}
<table class="table">
    <thead>
      <tr>
        <th>Printer</th>
        <th>Papir</th>
        <th>Oppdater</th>
    </tr>
</thead>

<tbody>
<form action="/printers/update/" method="post">
    {% csrf_token %}
    {% for printer in printer_list %}
    <tr>
        <td>{{printer.name}}</td>
        <td><b><div id="paper.{{printer.name}}">{{printer.paper_text}}</div></b></td>
        <td>
            <div class="printer-{{printer.name}}">
                <input id="{{printer.name}}" type="text" name="{{printer.name}}" autocomplete="off" class="form-control" value="0">
            </div>
        </td>
    </tr>
    <script>
        if({{printer.paper_text}} >= {{printer.full_threshold}})
            document.getElementById("paper.{{printer.name}}").style.color = "#009933";
        if({{printer.paper_text}} < {{printer.full_threshold}})
            document.getElementById("paper.{{printer.name}}").style.color = "#FF9900";
        if({{printer.paper_text}} <= {{printer.low_threshold}})
            document.getElementById("paper.{{printer.name}}").style.color = "#ff0000";
    </script>
    {% endfor %}

     <tr><td></td><td></td><td><input type="submit" class="btn btn-default" value="Send"></td></tr>
    </form>
</tbody>
</table>

{% else %}
<p>Det finnes ingen printere.</p>
{% endif %}
<hr>
{% if last_log %}
Siste oppdatering:<br>
{{last_log.date}} av {{last_log.user.first_name}}<br>
<a href="/printers/logs">Se alle<a>
{% endif %}
<hr>

    <form action="/order/" method="post">
        {% csrf_token %}
        {{ form }}
   <input type="submit" class="btn btn-default" value="Bestill ny papirpalle" />
    </form>
<hr>
{% endblock %}