body {

	background-color:#f1f1f1;
	margin-top: 20px;
}

@font-face {
	font-family: 'DIN_normal';
	src: url('fonts/DINR52_0.tff'); /* IE */
	src: local('DIN_normal'), url('fonts/DINR52_0.tff') format('truetype'); /* others */
}


@font-face {
	font-family: 'DIN_bold';
	src: url('fonts/DIN_Bold_0.ttf'); /* IE */
	src: local('DIN_bold'), url('fonts/DIN_Bold_0.ttf') format('truetype'); /* others */
}

#box {
	margin: 0 auto;
	border: 0pt solid #000;
	width: 1080px;
	height: 1920px;
}

#printmon {
	margin:0px auto;
	text-align:left;
	padding:15px;
	width: 800px;
	height: 300px;
}

#status {
	font-family: DIN_bold, Arial;
	font-weight: bold;
	margin-top: 50px;
	padding: 10px;
	height: 100px;
	width: 1080px;
	text-align: center;
	font-size: 20pt;
	color: #2b2b2b;
}

.beskjed {
	font-size: 26pt;
	color: red;
	margin-top: -10px;
}

#footer {
	background-image:url('img/footer.png');
	background-repeat:no-repeat;
	height: 192px;
	width: 1080px;
	position: absolute;
	bottom: 0;
}


h1 {
	font-family: DIN_bold;
	font-size: 80pt;
	line-height: 88pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #ad208e;
	text-align: center;
}

h2 {
	font-family: DIN_bold;
	font-size: 78pt;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ad208e;
	text-align: center;
}


table {
	font-family: DIN_bold;
	font-size: 30pt;
	color: #2b2b2b;
}

.border {
	border-bottom: 2px solid black;
 }
