{% extends "base.html" %}
{% block content %}
		<div class="container">
			<div class="hero-unit span9">
				<h1> Bujumbura</h1>
				<h2> Knappesystemet til orakeltjensten dragvoll</h2>
			</div>
			<div class="span3 navbar">
					<div class="col-md-offset-2 col-md-3"><a href="{% url 'bujumbura-hitsaday' %}">Treff per dag</a></div>
					<div class="col-md-3"><a href="{% url 'bujumbura-hitsadaystacked' %}">Totalt antal treff per dag</a></div>
					<div class="col-md-3"><a href="{% url 'bujumbura-weekday' %}">Treff per ukedag</a></div>
			</div>
            {%  block bujumbura %}
            {%  endblock bujumbura %}
		</div>
{% endblock %}
{% block scripts %}
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    {% block bujumbura_scripts %}
    {% endblock %}
{% endblock %}