{%  extends 'bujumbura/bujumbura.html' %}
{% block bujumbura %}


        <!-- this UL will be populated with the data from the php array -->
        <ul></ul>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block bujumbura_scripts %}
        <script type='text/javascript'>
			$(document).ready(function() {
				var chart;
				var day = [];
				var a = [];
				var b = [];
				var c = [
                {% for foo in test_0 %}
                    {{ foo.created_count }},
                {% endfor %}
                ];
				
				var options = {
					chart: {
						renderTo: 'container',
						type: 'column'
					},
					title: {
						text: 'Saker per dag'
					},
					subtitle: {
						text: 'Source: bujumbura'
					},
					xAxis: {
						categories: [],
                        reversed: true
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Antall Saker'
						}
					},
					legend: {
						layout: 'vertical',
						backgroundColor: '#FFFFFF',
						align: 'left',
						verticalAlign: 'top',
						x: 100,
						y: 70,
						floating: true,
						shadow: true
					},
					tooltip: {
						formatter: function() {
							return ''+
								this.x +': '+ this.y +' Saker';
						}
					},
					plotOptions: {
						column: {
							pointPadding: 0.2,
							borderWidth: 0
						}
					},
					series: []
					
				};

				$.getJSON('{% url 'get_last_monthly' %}', function(data) {
					/* data will hold the php array as a javascript object */

					$.each(data, function(key, val) {
						options.xAxis.categories.push(key);
						//options.series.data.push(parseInt(val.a));
						day.push(key);
						a.push(val.a);
						b.push(val.b);
						c.push(val.c);
						//	$('ul').append('<li id="' + key + '">' + val.day + ' ' + val.a + ' ' + val.b + ' ' + val.c + '</li>');
					});
                    options.series.push({name:"Blackboard",data:c});
					options.series.push({name:"Telefon",data:b});
					options.series.push({name:"Skranke",data:a});;

					chart = new Highcharts.Chart(options);
				});
			});
        </script>
{% endblock  %}

