{%  extends 'bujumbura/bujumbura.html' %}
{% block bujumbura %}

        <!-- this UL will be populated with the data from the php array -->
        <ul></ul>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}
{% block bujumbura_scripts %}
        <script type='text/javascript'>
			$(document).ready(function() {
				var chart;
				var day = [];
				var a = [];
				var b = [];
				var c = [];
				
				
				var options = {
		chart: {
			renderTo: 'container',
			type: 'column'
		},
		title: {
			text: 'Saker per dag'
		},
		xAxis: {
			categories: [],
            reversed: true

		},
		yAxis: {
			min: 0,
			title: {
				text: 'Totalt mottatte saker'
			},
			stackLabels: {
				enabled: true,
				style: {
					fontWeight: 'bold',
					color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
				}
			}
		},
		legend: {
			align: 'right',
			x: -100,
			verticalAlign: 'top',
			y: 20,
			floating: true,
			backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
			borderColor: '#CCC',
			borderWidth: 1,
			shadow: false
		},
		tooltip: {
			formatter: function() {
				return '<b>'+ this.x +'</b><br/>'+
					this.series.name +': '+ this.y +'<br/>'+
					'Total: '+ this.point.stackTotal;
			}
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
				}
					}
				},
					series: []
					
				};
				
					/* call the php that has the php array which is json_encoded */
				$.getJSON('{% url 'get_last_monthly' %}', function(data) {
					/* data will hold the php array as a javascript object */

					$.each(data, function(key, val) {
						options.xAxis.categories.push(key);
						//options.series.data.push(parseInt(val.a));
						day.push(key);
						a.push(val.a);
						b.push(val.b);
						c.push(val.c);
						//	$('ul').append('<li id="' + key + '">' + val.day + ' ' + val.a + ' ' + val.b + ' ' + val.c + '</li>');
					});
					options.series.push({name:"Blackboard",data:c});
					options.series.push({name:"Telefon",data:b});
					options.series.push({name:"Skranke",data:a});

					chart = new Highcharts.Chart(options);
				});
			});
        </script>



{% endblock %}